body {
  font-family: "Arial"
}
.black-white {
  color: white;
  background-color: black;
  padding: 10px;
  font-size: 12px;
}
.login-bar {
  overflow: hidden;
  background-color: black;
  color: white;
  /* padding: 15px 0px; */
  margin:auto;
  font-weight: bold;
}
.login-bars a {
  float: right;
  /* margin-left: 100px; */
}
.login-bar p{
  line-height: 40px;
  float: left;
  vertical-align: middle;
}
.green-block {
  float:right;
  text-decoration:none;
  background-color: green;
  color: white;
  padding: 15px;
  font-size: 10px;
}
.menu {
  background-color: navy;
  padding: 10px;
  border-style: solid;
  border-color: white;
  border-top-width: 1px;
  border-bottom-width: 1px
}
.menu a{
  text-decoration: none;
  color: white;
  font-size: 12px;
  padding: 80px;
  margin: 50px;
}
.museum {
  position:relative;
  text-align: center;
  color: white;
  font-weight: bold;
}
.top-left {
  position: absolute;
  top: 10px;
  left: 16px;
}
.image{
    float: left;
    margin-left: 80px
}
.image p {
  font-weight: bold;
}



* {
  box-sizing: border-box;
}


.column {
  float: left;
  width: 20%;
}
.column img {
  padding: 10px;
}
section.login {
  background-color: black;
}

div.test {
  border-style: solid;
}
