body {
  font-family: "Arial"
}
.black-white {
  color: white;
  background-color: black;
  padding: 10px;
  font-size: 12px;
}
.login-bar {
  overflow: hidden;
  background-color: black;
  color: white;
  /* padding: 15px 0px; */
  margin:auto;
  font-weight: bold;
}
.login-bar p{
  line-height: 40px;
  float: left;
  vertical-align: middle;
}
.green-block {
  float:right;
  text-decoration:none;
  background-color: green;
  color: white;
  padding: 15px;
  font-size: 10px;
}
.menu {
  background-color: navy;
  padding: 10px;
  border-style: solid;
  border-color: white;
  border-top-width: 1px;
  border-bottom-width: 1px
}
.menu a{
  text-decoration: none;
  color: white;
  font-size: 12px;
  padding: 80px;
  margin: 50px;
}
.museum {
  position:relative;
  text-align: center;
  color: white;
  font-weight: bold;
}
.museum_img {
  overflow:hidden;
  height:350px;
}
.museum_img img{
  position:relative;
  bottom: 80px;
}
.top-left {
  position: absolute;
  top: 10px;
  left: 16px;
  font-size: 20px;
}
.images {
  overflow:hidden;
}
.images img{
    float: left;
    margin-left: 30px;
    height:180px;
    width: 280px;
    position: relative;
    bottom: 35px;
}
.horizontal {
  overflow: hidden;
  height: 180px;
  background-color: white;
  padding: 10px;
  border-style: solid;
  border-color: white;
  border-top-width: 1px;
  border-bottom-width: 1px
}
.text {
  height: 20px;
}
.text p {
  float: left;
  padding-right: 150px;
  font-weight:bold;
  margin-left: 30px;
}
